---
import Base from "../layouts/Base.astro";
import { site } from "../content/site";

const title = `About — ${site.name}`;
---

<Base
  title={title}
  description={`About ${site.name}`}
  canonicalPath="/about",
  mainCentered={true}
>
  <article class="prose">
    <h1>Dell3 grandi!</h1>
  </article>
</Base>
