---
import { site, type SiteConfig } from "../content/site";

type Author = SiteConfig["author"];

const { author = site.author } = Astro.props as { author?: Author };
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer__inner">
    <p class="footer__meta">
      © {year} {author.url ? <a href={author.url}>{author.name}</a> : author.name}
    </p>

    <div class="footer__links">
      {author.socials?.instagram && <a class="footer__link" href={author.socials.instagram} target="_blank" rel="noopener">Instagram</a>}
    </div>
  </div>
</footer>
